$bg_White_color: #ffffff;
$font_black_color: #000000;
$color_baltic: #2b2b2b;
$font_white_color: #ffffff;
$color_chicago: #5c5d5f; 
$color_tuna: #343c42;
$color_fuego: #bbdc00;
$color_mercury: #e3e3e3; 
$color_gray: #707070;  
$cat_color: #BADC14;  

 
